.benefits {
    min-height: 470px;
    background: #F6F6F6;
    .title {
        padding-top: 71px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        .benefits__card {
            width: 269px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #0D0D0D;
            img {
                width: 70px;
                height: 70px;
                margin-bottom: 35px;
            }
            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #0D0D0D;
                margin-top: 20px;
            }
            &_red {
                text-decoration-line: underline;
                color: $main-color;
            }
        }
    }
    &__img {
        &_animated {
            animation: heardbeat 1.5s linear infinite paused;
            // animation-name: heardbeat;
            // animation-duration: 1.5s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
            // animation-play-state: paused;
            &:hover {
                animation-play-state: running;
            }
        }
    }
}

@media (max-width: 425px) {
    .benefits__cards {
        flex-direction: column;
        align-items: center;
    }
    .benefits__card {
        margin-bottom: 40px;
    }
    .title {
        font-size: 24px;
    }
}