.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }
    #slick-slide-control00, #slick-slide-control01, #slick-slide-control02 {
        display: none;
    }
}

@media (max-width: 768px) {
    .carousel__inner {
        width: 90%;
        img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}