.consultation {
    min-height: 680px;
    padding: 100px 0 92px;
    background: url(../img/bg/cons-bg.jpg) center (center/cover) no-repeat;
    &__description {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 10px;
        color: #FFF;
    }
}

@media (max-width: 1000px){
    .consultation {
        padding: 100px 30px 92px;
    }
}
@media (max-width: 425px){
    .consultation_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            text-align: start;
            line-height: 38px;
        }
        .button {
            width: 60%;
            margin: 0 auto;
        }
    }

}
@media (max-width: 320px){
    .consultation {
        .feed-form{
            width: 100%;
        }
        .button {
            width: 75%;
            font-size: 13px;
        }
    }
}