.reviews {
    .client-reviews {
        &__review{
            display: flex;
            margin-top: 60px;
        }
        &__img {
            width: 169px;
            height: 169px;
            margin-right: 61px;
        }
        &__name {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
        }
        &__marathons {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
        &__text-review {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
        }

    }
}

@media (max-width: 768px){
    .reviews {
        .client-reviews {
            &__img {
                margin: 0 3%;
                width: 25%;
                height: 25%;
            }
            &__text-review {
                font-size: 14px;
            }
            &__name {
                font-size: 16px;
            }
        }
    }

}
@media (max-width: 425px) {
    .reviews {
        .client-reviews {
            &__review{
                flex-direction: column;
                text-align: center;
            }
            &__img {
                margin: 0 auto 15px;
            }
        }
    }

}